.App {
  width: 100vw;
  height: 100vh;
  background-color: rgb(73, 71, 71);

  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.Files {
  outline: 1px solid black;
}
.Editor {
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.code {
  width: calc(95% - 10px);
  height: calc(95% - 10px);
  border: none;
  background: rgba(99, 99, 161, 0.11);
  font-size: 18px;
  color: white;
  padding: 10px;
}
.code:focus {
  outline: none;
}
